.slide-fade-enter-active,
.slide-fade-leave-active {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(30%);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: .7s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.home__right{
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  justify-items: end;
  align-items: center;
}

.home__right__social div a:hover {
  transform: translateY(-3px);
  filter:drop-shadow(0 8px 15px rgba(0, 0, 0, 0.6));
}