button.primary,
button.secondary {
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.35);
}

button.primary {
  background-color: var(--light-blue);
}

button.primary span {
  color: white;
}

button.primary:hover {
  background-color: var(--lighter-blue);
}

button.secondary {
  background-color: transparent;
  /* border: 2px solid var(--light-blue); */
  color: var(--lighter-blue);
  box-shadow: inset 0 0 0 2px var(--light-blue);
  box-sizing: border-box;
}

button.secondary:hover {
  border-color: var(--lighter-blue);
}

.home__circles img {
  /* height: 60vh; */
  width: auto;
}
