.toggle {
  z-index: 999;
}

.layout #navbar {
  display: none;
}

@responsive {
  .desktop_nav {
    z-index: 999;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 100vh;
  }

  .desktop_nav div:first-child {
    width: 100px;
    position: absolute;
    height: 100%;
    align-items: center;
    position: fixed;
    background-color: #fff;
    z-index: 999;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.15);
  }

  .desktop_nav div:first-child > a {
    transform: rotate(-90deg);
    transform-origin: center;
    z-index: 999;
  }
}

@media (max-width: 640px) {
  .mobile_nav {
    height: 55px;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
  }
}

.mobile #navbar {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  width: 20vh;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  background-color: var(--bg-color);
  z-index: 49;
}

.mobile #navbar ul {
  margin-top: 130px;
}

.mobile .burger div {
  width: 35px;
  height: 2px;
  margin: 4px;
  border-radius: 5px;
  background-color: var(--text-color);
  transition: all 0.3s ease;
  z-index: 999;
}

.mobile .burger div:nth-child(2) {
  width: 22px;
}
.mobile .burger div:nth-child(1) {
  margin-top: 0;
}

.mobile #navbar.nav-active {
  transform: translateX(0);
  box-shadow: -3px 0 15px rgba(0, 0, 0, 0.3);
}

.mobile #navbar li {
  width: fit-content;
}

.burger.toggle {
  background-color: transparent;
}

.mobile .toggle .line1 {
  transform: rotate(-45deg) translate(-11px, 3px);
}
.mobile .toggle .line2 {
  opacity: 0;
}
.mobile .toggle .line3 {
  transform: rotate(45deg) translate(-11px, -3px);
}

/* Navlinks transitions */

a.nav-link {
  display: inline-block;
  width: fit-content;
}

a.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: var(--light-blue);
  transition: width 0.3s;
}

a.nav-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

a.nuxt-link-exact-active {
  font-weight: 400;
}

a.nuxt-link-exact-active::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--light-blue);
}
