.logo,
.logo svg {
  height: 86px;
  width: 206px;
}
.logo path {
  fill: var(--bg-logo);
}

.navbar {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  width: 20vh;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.navbar ul {
  margin-top: 130px;
}

.burger div {
  width: 35px;
  height: 2px;
  margin: 4px;
  border-radius: 5px;
  background-color: var(--text-color);
  transition: all 0.3s ease;
  z-index: 999;
}

.burger div:nth-child(2) {
  width: 22px;
}
.burger div:nth-child(1) {
  margin-top: 0;
}

.nav-active {
  transform: translateX(0%);
  box-shadow: -3px 0 15px rgba(0, 0, 0, 0.3);
  background-color: var(--bg-color);
  z-index: 998;
}

.burger.toggle {
  background-color: transparent;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-11px, 3px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-11px, -3px);
}

/* Navlinks transitions */

a.nav-link {
  display: inline-block;
}

a.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: var(--light-blue);
  transition: width 0.3s;
}

a.nav-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

a.nuxt-link-exact-active {
  font-weight: 400;
}

a.nuxt-link-exact-active::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--light-blue);
}
