.logo,
.logo svg {
  height: 86px;
  width: 206px;
}
.logo path {
  fill: var(--bg-logo);
}


.navbar {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  width: 20vh;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.navbar ul {
  margin-top: 130px;
}

.burger div {
  width: 35px;
  height: 4px;
  margin: 3px;
  border-radius: 5px;
  background-color: rgb(10, 50, 110);
  transition: all 0.3s ease;
}

.burger div:nth-child(2) {
  width: 22px;
}
.burger div:nth-child(1) {
  margin-top: 0;
}

.nav-active {
  transform: translateX(0%);
  box-shadow: -3px 0 15px rgba(0,0,0, 0.3);
  background-color: #fff;
}

.burger.toggle {
  background-color: transparent;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-11px,3px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-11px, -3px);
}

/* Navlinks transitions */
a.nuxt-link-exact-active {
  font-weight: bold;
  transition: 0.3s;
  border-bottom: 3px solid var(--links-color);
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  padding-bottom: 5px;
}

a.nav-link:hover {
  transform: translateY(-1px);
  border-bottom: 3px solid var(--light-blue);
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  padding-bottom: 5px;
}
