/* Page transitions */
.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* Navlinks transitions */
.nuxt-link-exact-active{
  font-weight: bold;
  transition: .5s;
}