@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.theme-light {
  --bg-color: #f8f8f8;
  --lighter-blue: #0664c2;
  --light-blue: #0152a2;
  --dark-blue: #000e1c;
  --text-color: #333333;
  --social-icons: #000e1c;
  --bg-logo: #000e1c;
  --links-color: #0152a2;
  --light-grey: #cdcdcd;
  --form-bg: #e8edf1;
  --shadow: rgba(104, 104, 104, 0.3);
}

.theme-dark {
  --bg-color: #000b15;
  --lighter-blue: #0664c2;
  --light-blue: #0152a2;
  --dark-blue: #001224;
  --text-color: #e6e6e6;
  --social-icons: #0152a2;
  --bg-logo: #e6e6e6;
  --links-color: #e6e6e6;
  --light-grey: #cdcdcd;
  --form-bg: #000e1c;
  --shadow: rgba(0, 0, 0, 0.3);
}

html {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 6px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--light-blue) var(--light-grey);
}

*::-webkit-scrollbar-track {
  background: var(--light-grey);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-blue);
  border-radius: 6px;
}

#app {
  min-height: 100vh;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.5s;
  z-index: -2;
}

div.theme-dark,
#modal_container {
  background-color: var(--bg-color);
}

* {
  color: var(--text-color);
}

a,
a span,
button {
  color: var(--links-color);
}

button:focus {
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}

ul {
  list-style: inside;
  list-style-type: " > ";
  padding-left: 1em;
}

li::marker {
  font-size: 1.1rem;
}

/* FONTS */
.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

/* Page transitions */
.page-enter-active,
.page-leave-active {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.7s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  /* transform: translateY(15%); */
}
