@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.z-1 {
  z-index: -1;
}

@responsive {
  .h-xl {
    max-height: 58vh;
  }

  .h-high {
    max-height: 46vh;
  }

  .h-med {
    max-height: 38vh;
  }

  .h-small {
    max-height: 32vh;
  }

  .h-mobile {
    max-height: 25vh;
  }
}
